{% extends "base.html" %}

{% block content %}
<section class="relative py-20 px-10 hero" id="hero" style="background-image: url('{{featured_movie.image_cover.url}}'); background-size: cover; background-position:
        50% 25%">
    <div style="z-index: 10; position :relative">
        <h1 style=" color: white;" class="text-5xl mb-5">{{featured_movie.title}}
        </h1>
        <p style="color: white;" class="mb-5" id="description">{{featured_movie.description|truncatewords:50}}</p>
        <div class="flex space-x-4">
            {% if isMovie %}
            <a href="/movie/{{featured_movie.uu_id}}">
                <button class="bg-red-600 text-white p-2 px-5 rounded hover:bg-red-500">Play</button>
            </a>
            {% else %}

            {% endif %}
            <a href="{{featured_movie.uu_id}}"
                class="bg-transparent border border-white text-white p-2 px-5 rounded transition-all">More
                info
            </a>

        </div>
    </div>
</section>
<section class="py-10 px-5 overflow-hidden">

    <h2 class="text-xl mb-5">Popular Movies on Netflix</h2>
    <div class="flex space-x-5 xs:overflow-x-scroll overflow-y-hidden mb-10">

        {% for movie in movies %}
        <div class="w-40 h-64 flex-shrink-0 film-card overflow-hidden" onclick="showModal(this)"
            data-title="{{ movie.title }}" data-description="{{ movie.description }}"
            data-release-date="{{ movie.release_date|date:'Y' }}" data-genre="{{ movie.get_genre_display }}"
            data-length="{{ movie.length }}" data-image-card-url="{{ movie.image_card.url }}" data-type="movie"
            data-image-cover-url="{{ movie.image_cover.url }}" data-video-url="/movie/{{ movie.uu_id }}" data-uuid={{
            movie.uu_id }}
            style="background-image: url('{{movie.image_card.url}}'); background-size: cover; background-position: center;"
            id="{{movie.uu_id}}">
        </div>
        {% endfor %}
    </div>
    <h2 class="text-xl mb-5">Popular Series on Netflix</h2>
    <div class="flex space-x-5 xs:overflow-x-scroll overflow-y-hidden">

        {% for serie in series %}
        <div class="w-40 h-64 flex-shrink-0 film-card overflow-hidden" onclick="showModal(this)"
            data-title="{{ serie.title }}" data-description="{{ serie.description }}"
            data-release-date="{{ serie.release_date|date:'Y' }}" data-genre="{{ serie.get_genre_display }}"
            data-length="{{ serie.length }}" data-image-card-url="{{ serie.image_card.url }}" data-type="serie"
            data-image-cover-url="{{ serie.image_cover.url }}" data-video-url="/serie/{{ serie.uu_id }}"
            data-uuid="{{serie.uu_id}}" style="background-image: url(' {{serie.image_card.url}}'); background-size: cover; background-position:
            center;">
        </div>
        {% endfor %}
    </div>
</section>





{% endblock content %}