{% extends "base.html" %}

{% block content %}
<section class="relative py-20 px-10 hero" id="hero" style="background-image: url('{{featured_movie.image_cover.url}}'); background-size: cover; background-position:
        50% 25%">
    <div style="z-index: 10; position :relative">
        <h1 style=" color: white;" class="text-5xl mb-5">{{featured_movie.title}}
        </h1>
        <p style="color: white;" class="mb-5" id="description">{{featured_movie.description}}</p>
        <div class="flex space-x-4">
            <a href="/movie/{{featured_movie.uu_id}}">
                <button class="bg-red-600 text-white p-2 px-5 rounded hover:bg-red-500">Play</button>
                <button class="bg-transparent border border-white text-white p-2 px-5 rounded transition-all">More
                    info</button>
            </a>
        </div>
    </div>
</section>
<section class="py-10 px-5 overflow-hidden">

    <h2 class="text-xl mb-5">Popular on Netflix</h2>
    <div class="flex space-x-5 xs:overflow-x-scroll overflow-y-hidden">

        {% for movie in movies %}
        <div class="w-40 h-64 flex-shrink-0 film-card overflow-hidden" onclick="showModal(this)"
            data-title="{{ movie.title }}" data-description="{{ movie.description }}"
            data-release-date="{{ movie.release_date|date:'Y' }}" data-genre="{{ movie.get_genre_display }}"
            data-length="{{ movie.length }}" data-image-card-url="{{ movie.image_card.url }}"
            data-image-cover-url="{{ movie.image_cover.url }}" data-video-url="/movie/{{ movie.uu_id }}" data-uuid={{
            movie.uu_id }}
            style="background-image: url('{{movie.image_card.url}}'); background-size: cover; background-position: center;">
        </div>
        {% endfor %}
</section>



<!-- Modal -->
<div class="modal" id="movieModal" style="z-index: 1000;">
    <div class="modal-content">
        <div class="flex justify-between">
            <h2 class="text-xl mb-5">Movie Title</h2>
            <button onclick="hideModal()">X</button>
        </div>
        <div>
            <img width="200px"
                src="https://bloximages.newyork1.vip.townnews.com/newsrecord.org/content/tncms/assets/v3/editorial/8/1e/81ea500c-45ac-11ee-a11e-a7402910a7e7/64ecaae69243a.image.jpg"
                alt="Movie Image" class=" mb-5">
        </div>




        <div class="flex justify-between mb-5">
            <span>Year: 2023</span>
            <span>Length: 2h 15min</span>
        </div>
        <p class="mb-5">Detailed information about the movie.</p>
        <div class="flex space-x-4 mb-5">
            <a href="movie.html">
                <button class="bg-red-600 text-white p-2 px-5 rounded hover:bg-red-500">Play</button>
            </a>
            <button id="addToListButton" onclick="addItemToList()"
                class="border border-white text-white p-2 px-5 rounded hover:bg-gray-700">
                Add to List
            </button>
        </div>

    </div>
</div>


{% endblock content %}