{% extends "base.html" %}


{% block content %}
<section class="py-10 px-5">

    <div align="center">
        <h2 class="text-xl mb-5">
            Search Result : for {{ query }}
        </h2>
    </div>
    <div class="flex space-x-5 overflow-x-auto ">

        {% for movie in movies %}
        <div class="w-40 h-64 flex-shrink-0 film-card overflow-hidden" onclick="showModal(this)"
            data-title="{{ movie.title }}" data-description="{{ movie.description }}"
            data-release-date="{{ movie.release_date|date:'Y' }}" data-genre="{{ movie.get_genre_display }}"
            data-length="{{ movie.length }}" data-image-card-url="{{ movie.image_card.url }}" data-type="movie"
            data-image-cover-url="{{ movie.image_cover.url }}" data-video-url="/movie/{{ movie.uu_id }}" data-uuid={{
            movie.uu_id }}
            style="background-image: url('{{movie.image_card.url}}'); background-size: cover; background-position: center;"
            id="{{movie.uu_id}}">
        </div>
        {% endfor %}

        {% for serie in series %}
        <div class="w-40 h-64 flex-shrink-0 film-card overflow-hidden" onclick="showModal(this)"
            data-title="{{ serie.title }}" data-description="{{ serie.description }}"
            data-release-date="{{ serie.release_date|date:'Y' }}" data-genre="{{ serie.get_genre_display }}"
            data-length="{{ serie.length }}" data-image-card-url="{{ serie.image_card.url }}" data-type="serie"
            data-image-cover-url="{{ serie.image_cover.url }}" data-video-url="/serie/{{ serie.uu_id }}"
            data-uuid="{{serie.uu_id}}" style="background-image: url(' {{serie.image_card.url}}'); background-size: cover; background-position:
            center;">
        </div>
        {% endfor %}
</section>




{% endblock content %}