<header class="p-5 flex justify-between items-center" id="header">
    <a href="{% url 'home' %}">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="Netflix Logo">

    </a>


    <nav class="flex space-x-5" id="nav">
        <span><a href="/">Home</a></span>

        <div class="dropdown">
            <span id="dropdownMenuButton" class="cursor-pointer">Genres ▼</span>

            <div id="dropdownMenu" class="dropdown-content hidden">
                <ul><a href="/genre/action/">Action</a></ul>
                <ul><a href="/genre/comedy/">Comedy</a></ul>
                <ul><a href="/genre/drama/">Drama</a></ul>
                <ul><a href="/genre/horror/">Horror</a></ul>
                <ul><a href="/genre/romance/">Romance</a></ul>
                <ul><a href="/genre/sciencefiction/">Science Fiction</a></ul>
                <ul><a href="/genre/fantasy/">Fantasy</a></ul>
            </div>
        </div>

        <span><a href="{% url 'mylist' %}">My List</a></span>
    </nav>


    <div class="flex space-x-5 items-center">
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <input type="search" name="search_term" placeholder="Search" id="input-search"
                class="bg-gray-700 p-2 rounded w-max">
            <button class="bg-red-600 text-white p-2 rounded hover:bg-red-500">Search</button>
        </form>

    </div>
    <div class="relative" id="nav-right">
        {% if user.is_authenticated %}
        <div class="flex">
            <a href="#" class="block p-2">Welcome, {{user.username}}</a>
            <a href="{% url 'logout' %}" class="block p-2 bg-red-600 text-white p-2 rounded hover:bg-red-500">Logout</a>
        </div>
        {% else %}
        <div class="flex">
            <a href="{% url 'login' %}"
                class="block p-2 bg-transparent border border-white text-white p-2 px-5 rounded transition-all mr-3">Login</a>
            <a href="{% url 'signup' %}" class="block p-2 bg-red-600 text-white p-2 rounded hover:bg-red-500 ">Sign
                up</a>
        </div>
        {% endif %}


    </div>
</header>